<!--
 * @Description  : write something
 * @Autor        : snoop
 * @Date         : 2022-06-10 15:07:48
 * @LastEditors  : snoop
 * @LastEditTime : 2022-06-25 15:35:53
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>iframe</title>
  <link rel="stylesheet" href="/stylesheets/element-ui.css">
  <link rel="stylesheet" href="/common.css">
</head>
<body>
  <el-container id="app" class="container" v-cloak>
    <el-header>
      <el-col :span="4">iframe-example</el-col>
        <el-tabs v-model="activeTab" @tab-click="handleClick">
          <el-tab-pane v-for="item in tabList" :label="item.label" :name="item.name">
            <iframe v-if="activeTab === item.name" :id="item.name" :src="item.src" frameborder="0"></iframe>
          </el-tab-pane>
        </el-tabs>
      <el-col :span="2">总数：{{totalCount}}</el-col>
    </el-header>
  </el-container>
</body>
<script src="/javascripts/vue.min.js"></script>
<script src="/javascripts/elment-ui.js"></script>
<script>
  var app = new Vue({
    el: '#app',
    data() {
      return {
        tabList: [
          {
            name: 'sub-vue',
            label: 'sub-vue',
            src: 'http://localhost:8083'
          },
          {
            name: 'sub-react',
            label: 'sub-react',
            src: 'http://localhost:8082'
          },
        ],
        activeTab: 'sub-vue',
        reactCount: 0,
        vueCount: 0
      }
    },
    computed: {
      totalCount:function() {
        return this.vueCount + this.reactCount
      }
    },
    mounted() {
      window.addEventListener('message', e => {
        console.log(e)
        this.reactCount = e.data.data
      })

      document.getElementById('sub-react').contentWindow.postMessage({
        data: 'init'
      }, '*')
    },
    methods: {
      handleClick(tabItem) {
        console.log(this.vueCount)
        console.log(tabItem)
      }
    }
  })
</script>
</html>